body {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   /* background: url('https://cdn.pixabay.com/photo/2011/12/14/12/21/orion-nebula-11107_1280.jpg') no-repeat; */
}

/* main {
   background: url('https://cdn.pixabay.com/photo/2011/12/14/12/21/orion-nebula-11107_1280.jpg');
} */